*{
    margin: 0;
    padding: 0;
}

#title{
    font-family: sans-serif;
    color: #380B61;
    margin-left: 10%;
    margin-top: 10%;
    padding-left: 10%;
}
.fundo{
    background-color: white;
    width: 40%;
    border-radius: 5%;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 8%;
    padding-top: 6px;
    padding-bottom: 3%;
    top: 80%;
    left: 50%;
    justify-content: center;
    justify-items: center;
}

#subtitulo{
    font-family: sans-serif;
    color: #380B61;
    margin-left: 13%;
    margin-top: 3%;
    padding-left: 12%;
}

#check {
    display: inline-block;
}

fieldset{
    border: 0;
}

body{
    background: linear-gradient(to left, rgb(140, 0, 255),#360353);
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    margin-left:36%;
    margin-top: 2%;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    border: rgb(159, 123, 224);
}

input, select, textarea,button{
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    border-radius: 5px;
}
.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}
.campo label{
    margin-bottom: 0.2em;
    color: #59429d;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: #E0E0F8;
}

.botao{
    font-size:1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding:0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);
    margin-left: 50%;
    margin-top: 2%;
}

.botao:hover{
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
